.navBar {
    height: 100vh;
    width: 100px;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 20px;
    background-image: linear-gradient(0deg, #ff7abe, #ff9770);
    box-shadow: 10px 0 20px 0 rgba(0,0,0,.1), 5px 0 5px rgba(0,0,0,.2);
}

 .userInfo {
     
 }

.profPic {
    width: 70px;
    height: 70px;
    background-color: #fff;
    background-position: 50%;
    background-size: cover;
    border-radius: 50%;
    -webkit-box-shadow: 0 0 20px #333;
    box-shadow: 0 0 20px #333;
    margin-left: 15px; 
}

.navieButton {  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-image: linear-gradient(0deg, #7af7e4, #ff9770);
    width: 40px;
    padding: 10px; 

}

.navImages {
    padding-top: 30px; 
    height: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.bottomButton {
    position: absolute;
    bottom: 40px;
    left: 30px;
}